<form [formGroup]="uploadForm" (ngSubmit)="submit()" >

    <div>
        <label>Nazwa: </label>
        <input style="margin-left: 50px" type="text" formControlName="name" />
    </div>

    <hr />

    <div>
        <label>Opis pliku: </label>
        <input style="margin-left: 28px" formControlName="description" />
    </div>

    <hr />

    <div>
        <span>Wybierz plik:</span>
        <input type="file" formControlName="uploadImage" />
    </div>

    <hr />
    <hr />
    <input type="submit" value="Wyślij" />
</form>